.split {
    /* height: 100%; */
    width: 100%;
    position: relative;
    z-index: 1;
    /* top: 7.5rem; */
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
}

.list-container {
    box-sizing: border-box;
    left: 0;
    list-style: none;
    padding: 0 10px 0 10px;
}